
.main {
    margin-left: 1em;
    margin-right: 1em;
}

img {
    border: 1px solid black;
}

h2 {
    margin-top: 0;
    margin-bottom: 0.5em;
}

p {
    margin: 0;
}

/* Content spacing */

.h-stack {
    display: inline-block;
}

.content {
    vertical-align: top;
    padding-left: 0.5em;
}

.project-desc {
    max-width: 600px;
}

.project-desc p {
    margin-bottom: 10px;
}

div.projects h3:not(:first-child) {
    margin-top: 50px;
}